<div id="sidebar" class="col-md-3">
	<script type="text/javascript" src={{asset "js/jquery-2.1.1.min.js"}}></script>
    <script type="text/javascript" src={{asset "js/bootstrap.min.js"}}></script>
    <script type="text/javascript" src={{asset "js/jquery.ghostHunter.min.js"}}></script>
	<form style="text-align:center">
	    <input id="search-field" />
	    <input type="submit" value="search">
	</form>
	<section id="results"></section>
	<script>
	    $("#search-field").ghostHunter({
	        results   	: "#results",
	        onKeyUp		: true,
	        displaySearchInfo     : false
	    });
	</script>
</div>