<div id="sidebar" class="col-md-3">
	<form style="text-align:center">
	    <input id="search-field" />
	    <input type="submit" value="search">
	</form>
	<section id="results"></section>
	<script>
	    $("#search-field").ghostHunter({
	        results   	: "#results",
	        onKeyUp		: true,
	        displaySearchInfo     : false
	    });
	</script>
</div>