{{!< default}}

<main class="content" role="main">

    <div class="wrapper flex-wrapper">
        <div id="content" class="flex-content error-page">
            <h1>Sorry, we cannot find what you are looking for.</h1>
            <p>Sorry about that! Please head to the <a href="/">home page</a> for our most recent posts.</p>
        </div>
        
        {{> "sidebar"}}

        <div style="clear:both;"></div>
    </div>

</main>