{{!< default}}
<main class="content" role="main">
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
            <li><a href="/recommended">Recommended</a></li>
            <li><a href="/one-click">One-Click</a></li>
            <li><a href="/vps-manual">VPS/OS</a></li>
            <li><a href="http://ghostforbeginners.com">Ghost for Beginners</a></li>
            <li><a href="http://allghostthemes.com">All Ghost Themes</a></li>
            <li><a href="http://allaboutghost.com">All About Ghost</a></li>
        </ul>
    </div>
    <br style="clear:both">
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-538bfb5b653004cb"></script>
    <div class="addthis_sharing_toolbox"></div>

    <div class="error-page container" style="padding-right:300px;">
    	<h1>Sorry, we cannot find what you are looking for.</h1>
    	<p>Sorry about that! Please head to the <a href="/">home page</a> our recommended installation platforms for Ghost and instructions on how to install it.</p>
        <div class="next-steps">
        <h3>Next Steps:</h3>

        <strong><a href="http://ghostforbeginners.com">Learn Ghost from the Ground Up</a></strong><br>
        Head to "<a href="http://ghostforbeginners.com">Ghost for Beginners</a>" to learn everything you need to know about learning and customizing Ghost<br><br>

        <strong><a href="http://allghostthemes.com">Find the Perfect Ghost Theme</a></strong><br>
        Go to "<a href="http://allghostthemes.com">All Ghost Themes</a>" to browse all of your Ghost theme options in one place.<br><br>

        <strong><a href="http://allaboutghost.com">Keep Up to Date on Ghost</a></strong><br>
        Check out "<a href="http://allaboutghost.com">All About Ghost</a>" to stay up to date on everything that is Ghost.
        </div>
    </div>

</main>