.navbar {border-radius: 0;}

/* adjust the color and text shadow to optimize legibility once you have an image set - you can also change the vertical positioning if desired  */
.tagline {
	color: #fff;
	text-shadow: 0 0 10px #000;
}

main.content {
	font-size: 16px;
	position:relative;
}
.content {min-height: 600px;}

html, body {
	height:100%;
}

.main-head {
	position: relative;
    display: table;
    width: 100%;
    
	height: 250px;
	text-align: center;
    
	background-size: cover;
	/*background-image: url("/assets/images/coverimage.jpg");*/
	background-position: center;
	/* background-repeat: no-repeat; */
	background-color:#2f8cde;
}

.site-head-content {color:white;}

.blog-title {font-family:"Open Sans",sans-serif;font-weight: 100;font-size:9rem;margin:10px auto 10px auto;}
.blog-description {font-family:"Open Sans",sans-serif;font-size:20px;margin-bottom:25px;}

/*Navigation Bar*/
.navbar {background-color: #494949 !important;margin-bottom: 0 !important;border:none;}
.navbar-default .navbar-nav {font-weight: 300;font-family: 'Open Sans', sans-serif;}
.navbar-default .navbar-nav > li > a {color:white;}
.navbar-brand {font-weight: 300;margin-bottom: 0;font-size:24px;}
.navbar-default .navbar-brand {color:white;font-family: 'Open Sans';letter-spacing: 1px;height:49px;}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {background-color: #eee;}
.navbar-default .navbar-toggle .icon-bar {background-color:white;}
.recommend-text {text-align: center;}
.recommend-text h1 {color:white;font-weight: 300;}
.nav li a:hover {color:black;}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {color:white;}

#twitter-menu, #facebook-menu {height:50px;}
#twitter-menu a, #facebook-menu a {padding-top:13px;padding-bottom:13px;padding-right:0;}
#twitter-menu a img, #facebook-menu a img {width:30px;}

.home-headers {
	text-align: center;
	font-weight: 300;
	letter-spacing: 2px;
	font-family:'Ubuntu', sans-serif;
	margin-bottom: 20px;
	margin-top:20px;
}

.col-sm-4 {margin-bottom:25px;}
 
/*Index*/

#content {
	background-color:#D8D8D8;
/*	left:0;
	height:100%;
	position:absolute;
	right:17em;*/
}

#sidebar {
	background-color:#8E8E8E;
/*	right:0;
	height:100%;
	width:17em;
	position:absolute;*/
}

#content, #sidebar {
	padding-bottom:30000px;
	margin-bottom:-30000px;
}

.wrapper {overflow:hidden;}

.pagination {
	margin:auto;
	display:block;
	margin-bottom: 20px;
}


/*Posts*/

.post-content p img {width:70%;margin:auto;}
.post-content .full-img {width:70%;margin:auto !important;}
/*.full-img {width:60%;margin:auto !important;}*/
.post-title {font-size:48px;text-align: center;font-family: "Open Sans",sans-serif;font-weight: 400;}
.post-title-hr {margin-top: 10px;}
.post-menu {float:right;width:220px;margin-top:15px;background-color: #2f8cde;color:white;padding-bottom: 15px;}
.post {max-width: 800px;width:auto;}
.post-content .full-img {margin:0;max-width:100%;}
.post-content img {width:70%;}

/*Email List*/

#optin {
	background: #494949;
	border: 3px solid #494949;
	/*color: #fff;*/
	padding: 0 15px 20px 15px;
	text-align: center;
	position:absolute;
	right:0;
	width:200px;
	top:400px;
}
#optin input {
	border: 1px solid #111;
	font-size: 15px;
	margin-bottom: 10px;
	padding: 8px 10px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow: 0 2px 2px #111;
	-moz-box-shadow: 0 2px 2px #111;
	-webkit-box-shadow: 0 2px 2px #111
}
#optin input.email { background: #fff url(/assets/images/email.png) no-repeat 10px center; padding-left: 35px; width:170px;}
#optin input.name { background: #fff url(/assets/images/name.png) no-repeat 10px center; padding-left: 35px; width:170px;}
#optin input[type="submit"] {
	background: #2f8cde;
	border: 1px solid #111;
	color: #fff;
	cursor: pointer;
	font-size: 18px;
	font-weight: bold;
	padding: 8px 0;
	text-shadow: -1px -1px #3a060a;
	width: 100%
}
#optin input[type="submit"]:hover {}
#optin h4 {color:white;font-family:"Open Sans",sans-serif;}
.optin-text {color:white;font-family:"Open Sans",sans-serif;font-size: 12px;margin-bottom: 10px;}

/*Pages*/

.page-title {margin:25px 0 50px 0;}

/*Footer*/
.site-footer {padding-top:20px;padding-bottom:20px;margin-top: 0;background-color: #494949;font-family:"Open Sans",sans-serif;color:white;}
.site-footer a {color:white;}
.footer-header {font-size:20px;}
.site-footer p {font-size:16px;font-weight: 100;}
.site-footer a:hover {color:#57A3E8;}
.footer-wrapper {max-width: 260px;margin:auto;}
.footer-hr {margin-top: 25px;margin-bottom:25px;}

/*Error Page*/

