/*
 * Styles for the Home Page
 */
.main-head {
	position: relative;
    display: table;
    width: 100%;
    
	height: 250px;
	text-align: center;
    
	background-size: cover;
	/*background-image: url("/assets/images/coverimage.jpg");*/
	background-position: center;
	/* background-repeat: no-repeat; */
	background-color: #2f8cde;
}

.site-head-content {
	color:white;
}

.blog-title {
	font-family: "Open Sans",sans-serif;
	font-weight: 100;
	font-size: 9rem;
	margin: 10px auto 10px auto;
}

.blog-description {
	font-family: "Open Sans",sans-serif;
	font-size:20px;
	margin-bottom:25px;
}

.home-headers {
	text-align: center;
	font-weight: 300;
	letter-spacing: 2px;
	font-family: 'Ubuntu', sans-serif;
	margin-bottom: 20px;
	margin-top: 20px;
}

.post-excerpt {

	img {
		max-width: 100%;
	}

	p {

		img {
			width: 70%;
			margin: auto;
		}
	}

	.full-image {
		width: 70%;
		margin: auto;
	}
}
.post-excerpt {

	.fluidbox-wrap {
		text-align: center;
	}

	img {
		width: 70%;
		margin: 0 15%;
	}

	.full-image {
		width: 70%;
		margin: 0 15%;
	}
}